<footer>
  <div class="container">
    <div class="footer-box">
      <div class="menu-items">
        <button class="menu-item">FAQ</button>
        <button class="menu-item">TERMS OF USE</button>
      </div>
    </div>
    <div class="footer-box">
      <div class="menu-items">
        <button class="menu-item">FOLLOW US</button>
        <div class="soc-box footer">
          <!-- <social-icons class="socFooter"></social-icons> -->
        </div>
        <button class="menu-item">SUB FOR NEWS</button>
      </div>
    </div>
    <div class="footer-box">
      <div class="menu-items">
        <button class="menu-item">TEAM</button>
        <button class="menu-item">SUPPORT</button>
      </div>
    </div>
    <p class="copyright">
      &copy; <span class="year">{{ year }}</span> DBS Ecosystem, All right reserved.
    </p>
  </div>
</footer>