/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prm-orange: #f8941c;
    --prm-hv-orange: #ca7b1a;
    --prm-text: #f8f8f8;
    --scd-text: #ffffff;
    --prm-font: "Poppins", sans-serif;
    --scd-font: "Montserrat", sans-serif;
}

html {
    font-size: calc(11px + 0.390625vw);
}

html, header, footer, main {
    width: 100%;
}

body { 
    width: 100%;
    font-family: var(--prm-font);
    color: var(--scd-text);
    background-image: linear-gradient(120deg, #441c8a, #501c84 10%, #841af2);
}

h1, h2, h3, h4 {
    font-weight: 300;
}

main.desk {
    padding: 0 2%;
}

main.mob {
    padding: 0 1%;
}

label {
    font-family: var(--prm-font);
    font-weight: 300;
    color: var(--scd-text);
}

.content {
    background-image: url('./assets/background.png');
    background-size: cover;
}

.main_button {
    border: thin solid var(--scd-text);
    text-decoration: none;
    font-family: var(--prm-font);
    font-size: 1rem;
    font-weight: 300;
    color: var(--scd-text);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    padding: 0.7rem 2.4rem;
    position: relative;
}

.main_button:hover{
    background-color: #0000004d;
}

.menu-item {
    border: none;
    text-decoration: none;
    font-family: var(--prm-font);
    font-size: 1rem;
    font-weight: 800;
    color: var(--prm-text);
    background-color: var(--prm-orange);
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    padding: 0.8rem 2.4rem;
    position: relative;
}

.menu-item:hover {
    background-color: var(--prm-hv-orange);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  color: #4d4d4d;
  cursor: not-allowed;
}

.root {
    display: block;
    width: 100%;
}

.header {
    display: block;
    width: 100%;
}

.header.desk {
    aspect-ratio : 9 / 1;
}

.header.mob {
    aspect-ratio : 4 / 1;
    padding-bottom: 4%;
}

.frame {
    display: block;
    width: 100%;
}

.news {
    display: block;
    width: 100%;
}

.news.desk {
    aspect-ratio : 3 / 1;
}

.news.mob {
    aspect-ratio : 1.5 / 1;
}

.footer {
    display: block;
    width: 100%;
    aspect-ratio : 5 / 1;
}

mat-dialog-container {
    background-image: url('./assets/background.png') !important;
    background-size: cover !important;
}

mat-sidenav-container, div.sign {
    width: 100%;
    height: 50rem;
}

mat-sidenav, mat-sidenav-container {
    background-color: transparent !important;
}

.mat-drawer-content {
    padding: 2% 5%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border: thin solid var(--scd-text);
    border-radius: 0 !important;
    padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: .5em 0 .6em 1em;
}

.mat-form-field-appearance-fill .mat-form-field-label {
    top: 1.5em;
    left: 1em;
}
  
.mat-form-field-infix {
    border-top: .6em solid rgba(0,0,0,0);
}
  
.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: transparent;
}

.mat-form-field-subscript-wrapper {
    margin-top: .3em;
}

.mat-button-toggle-group-appearance-standard, .mat-button-toggle-group {
    border-radius: 0 !important;
    border: none;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 2.7rem;
}
  
.mat-button-toggle-appearance-standard {
    color: var(--scd-text);;
    background: transparent;
}
  
.mat-button-toggle-button {
    border: thin solid var(--scd-text) !important;
    text-decoration: none;
}