<div mat-dialog-content>
    <div>
        <h2>Find all available DTO</h2>
        <div></div>
        <form>  
            <h3>Choose category</h3>
            <div class="form-field">
                <label for="major">Major group</label>
                <select name="major" id="major" required>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            <div class="form-field">
                <label for="submajor">Submajor Group</label>
                <select name="submajor" id="submajor" required>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            <div class="form-field">
                <label for="minor">Minor Group</label>
                <select name="minor" id="minor" required>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            <div class="form-field">
                <label for="unit">Unit Group</label>
                <select name="unit" id="unit" required>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            <button type="button" class="main_button">Submit</button>
        </form>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button class="main_button" mat-dialog-close>Cancel</button>
    <button class="main_button" [mat-dialog-close]="true" cdkFocusInitial>Publish project</button>
</div>