nav {
    display: inline-block;
    align-self: flex-start;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem 2rem 1rem 0;
    transition: all 0.3s;
}

.menu-item {
    border: none;
    text-decoration: none;
    position: relative;
    font-family: var(--prm-font);
    font-size: 0.8rem;
    font-weight: 800;
    color: var(--prm-text);
    text-align: center;
    padding: 0.6rem 2rem;
    background-color: var(--prm-orange);
    cursor: pointer;
    transition: all 0.3s;
}

.menu-item:hover{
    background-color: var(--prm-hv-orange);
}

.spacer {
    height: 2rem;
}